# --- Python & Virtual Environments ---
# Compiled python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (The big folders we want to skip)
.venv/
venv/
ENV/
env/

# --- Node.js & React Frontend ---
# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds and testing
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Databases & Environment Variables ---
# Local SQLite database (prevents overwriting data)
*.db

# Local secret environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- IDEs & Operating Systems ---
# JetBrains (PyCharm)
.idea/

# VS Code
.vscode/

# OS specific files
.DS_Store
Thumbs.db